aiofiles==24.1.0
aiohappyeyeballs==2.4.3
aiohttp==3.11.0
aiohttp-cors==0.7.0
aioice==0.9.0
aiortc==1.9.0
aiosignal==1.3.1
attrs==24.2.0
av==12.3.0
blinker==1.9.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
click==8.1.7
cryptography==43.0.3
dnspython==2.7.0
Flask==2.3.3
Flask-Cors==5.0.0
flask-sock==0.7.0
frozenlist==1.5.0
google-crc32c==1.6.0
h11==0.14.0
h2==4.1.0
hpack==4.0.0
Hypercorn==0.17.3
hyperframe==6.0.1
idna==3.10
ifaddr==0.2.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==3.0.2
multidict==6.1.0
numpy==2.1.3
opencv-python==4.10.0.84
priority==2.0.0
propcache==0.2.0
pycparser==2.22
pyee==12.0.0
pylibsrtp==0.10.0
pyOpenSSL==24.2.1
quart==0.18.3
requests==2.32.3
RPi.GPIO==0.7.1
simple-websocket==1.1.0
typing_extensions==4.12.2
urllib3==2.2.3
websockets==14.1
Werkzeug==3.1.3
wsproto==1.2.0
yarl==1.17.1
